@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<form method="post"><button type="submit" asp-controller="Account" asp-action="Login">Pseudo authorize</button></form >