@model object

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<h2>Jopa please create accout for me</h2>


<form method="post">
    
    <input type="text" placeholder="Email" name="Email" value=""/>
    <input type="text" placeholder="Username" name="UserName" value=""/>
    <input type="text" placeholder="Password" name="Password" value=""/>
    <input type="text" placeholder="Confirm password" name="ConfirmPassword" value=""/>
    <button type="submit">Submit</button>

</form>
